<%= link_to t('.new', :default => t("helpers.links.new")),
            new_post_path,
            :class => 'btn btn-primary' %>

<% @posts.each do |post| %>
  <div>
    <p style="margin-top: 3em; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;"><%= post.body %></p>
    <p><%=l post.created_at %></p>
    <p>
      <%= link_to t('.edit', :default => t("helpers.links.edit")),
                  edit_post_path(post), :class => 'btn btn-default btn-xs' %>
      <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                  post_path(post),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-xs btn-danger' %>
    </p>
  </div>
<% end %>
